.no-borderimage .paintedGray {
    background-color: white !important;
}  
.hidden-ie-lte8 {
    display:none; 
} 
@media (min-width: 768px) {
}
#ielte7_message {
    display: block;
    background-color: red;
    padding: 10px;
    text-align: center;
}
#page_particlomatic {
    display: none;
}
#sitemenu_particlomatic {
    display: none;
}