@screen-phone-max: 768px;
@screen-tablet: 768px; 
@screen-medium-device: 992px; 


.hidden-exhibition {
    display: none;
}

#ielte7_message {
    display: none; 
}

#subscription_form_label {
    display: none;
}

.questions_teaser {
    width: 12%;
    height: auto;
}

@media (min-width: @screen-medium-device) {
	
	.questions_teaser {
		width: 25%;
		height: auto;
	}
	
	.app #particlomatic_result {
		position: fixed;
		width: 45%;
	}

	.app #quiz-form-col {
		float: right; 
	}
	.app #quiz-form-col {
		margin-top: 0px;
	}

	.app #particlomatic_result_top3 {
		max-height: 500px;
		overflow: scroll;
	}


}


@media (min-width: @screen-tablet) {
	
	.app .content {
		height: 100%; 
		width: 100%; 
		overflow: scroll;
		top: 0; right: 0; bottom: 0; left: 0; 
	}
	
	.page {
		background: url(wood.jpg) left top repeat;
	}

	.borderimage .paintedWood {
		margin: 0;
		border-style: solid;
		border-width: 50px;
		-moz-border-image: url(background-paint.png) 50repeat;
		-webkit-border-image: url(background-paint.png) 50 repeat;
		-o-border-image: url(background-paint.png) 50 repeat;
		border-image: url(background-paint.png) 50  fill repeat;
	}
	.borderimage .paintedGray {
		border-style: solid;
		border-width: 25px;
		-moz-border-image: url(background-paint-box.png) 25 repeat;
		-webkit-border-image: url(background-paint-box.png) 25 repeat;
		-o-border-image: url(background-paint-box.png) 25 repeat;
		border-image: url(background-paint-box.png) 25 25 25 25 fill repeat;	
		margin: 0px;	
	}

	.no-borderimage .content {
		padding: 20px;
	}

	.no-borderimage .paintedWood {
		background-color: white;
		margin: 25px;
		padding: 25px;
	}
	.no-borderimage .paintedGray {
		border: none;
		margin: 15px;
		padding: 25px;
		background-color: #EEEEEE;
	}
	.questions_teaser {
		width: 25%;
		height: auto;	
	}

	#footer {
		padding: 25px 75px;
		margin: 0px 0px;	
	}

	} /* / @media (min-width: @screen-tablet) */


	#footer {
		background-color: #FFFFFF;
		background-color:  rgba(255, 255, 255,0.7);	
	}


	#header {
		line-height: 1em;
		background-color: #FFFFFF;
		background-color:  rgba(255, 255, 255,0.3);
		padding: 10px;
		margin: 0px 0px;
	}
	#languageSelector {
		float: right; 
	}
	#sitemenu ul {
		font-size: 130%; 
		text-align: center;
		color: #999999;
		list-style: none;
	}
	#sitemenu li {
		display: inline;
		padding: 0px 0px;
	}
	#sitemenu li a {
		display: inline;
		margin: 0px 15px;
	}
	#sitemenu li:after
	{
		content: '|';
	}
	#sitemenu li:last-child:after
	{
		content: '';
	}



	@media (max-width: @screen-tablet) {

		div.page {
			padding: 0px 25px 10px 25px;
		}
		#sitemenu {
			margin-bottom: 32px;	
		}

	}

	/* LESS Document */
	.transform (@param) {
		-webkit-transform: @param;
		-moz-transform: @param;
		-o-transform: @param;
		transform: @param;
	}
	.gradient (@startColor: #eee, @endColor: white) {
		background-color: @startColor;
		background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
		background: -webkit-linear-gradient(top, @startColor, @endColor);
		background: -moz-linear-gradient(top, @startColor, @endColor);
		background: -ms-linear-gradient(top, @startColor, @endColor);
		background: -o-linear-gradient(top, @startColor, @endColor);
	}


	input.ui-slider-input {
		display : none !important;
	}
	.ui-slider {
		margin: 0 2% 0 0px;
		width: 100% !important;
	}
	.ui-slider-track, .ui-slider-switch {
		margin-left: 0px;
		margin-right: 0px;
	}
	.slide-description {
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 80%;

	}
	.slide-description h2 {
		padding: 0px;
		margin: 0px;
		font-size: 150% !important;

	}

	body .content {
		font-family: 'SourceSansPro', sans-serif;
		font-size: 16px;
		line-height: 24px;
	}
	.content h1 {
		font-family: 'SansCulottesRegular';
		font-size: 2em;
		line-height: 38px;
	}
	#footer h2,
	.content h2 {
		font-family: 'SansCulottesRegular', sans-serif;
		font-size: 2em;
		line-height: 1em;
		margin-bottom: 16px;
		text-overflow: inherit;
	}


	#page-home .content h1.title {
		font-size: 1800%;
		width: 100%;
	}

	.homeRow {
		padding-top: 0px;	
		margin-bottom: 50px;	
	}
	p {
		margin-bottom: 1em;
	}
	#titleimg, #titleimg2 {
		width: 100%;
	}
	.subtitle {
		font-size: 80%;
		line-height: 1em;
		text-align: right;
		padding: 5px;
	}


	#countdownNrOfDays {
		color: red;
	}

	#countdown {
		padding: 10px;
		font-size: 150%;
		text-transform: uppercase;
		color: hsl(0,0%,40%);
		font-family: 'SansCulottesRegular';
	}

	.csstransforms #countdown  {

		position: absolute;
		top: 70px;
		right: 60px;
		margin-top: 10px;
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
		-ms-transform: rotate(5deg);


	}


	#teilchenzoo_teaser_teilchen_roll_stage {
		background-image: url(teilchenzoo-teaser-teilchen-roll.png);
		background-repeat: repeat-x;
		overflow: hidden;
		height: 200px;
		background-size: auto; 
	}


	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		
		#teilchenzoo_teaser_teilchen_roll_stage {
			background-image: url(teilchenzoo-teaser-teilchen-roll_2x.png);
			background-size: 6297px 175px;

		}
	}


	#test_teaser_text_container {
		height: 100px;
		width: 100%;
		position: relative;
	}
	.test_teaser_text {
		position: absolute; 	
		font-family: 'SansCulottesRegular';
		font-size: 2em;
		line-height: 0.9em;
		position: absolute;
		opacity: 0.1;
		top: 0;	display: none;
	}




	#test_teaser_container {
		height: 200px;
		width: 100%;

	}
	.test_teaser {
		font-family: 'SansCulottesRegular';
		font-size: 3em;
		line-height: 0.9em;
		position: absolute;
		opacity: 0.1;
	}
	.test_teaser_or {
		font-size: .5em;
	}

	img.test_teaser {
		width: 100%; 
	}

	div#test_teaser_group {
		color:hsl(0, 50%, 50%);
	}
	div#test_teaser_communicativeness  {
		color:hsl(10, 50%, 50%);
	}
	div#test_teaser_shyness {
		color:hsl(20, 50%, 50%);
	}
	div#test_teaser_mass {
		color:hsl(30, 50%, 50%);
	}
	div#test_teaser_charge {
		color:hsl(40, 50%, 50%);
	}
	div#test_teaser_fantasy {
		color:hsl(-10, 50%, 50%);
	}

	.quotes_teaser {
		width: 20%;
	}


	#questions_teaser_stage {
		height: 400px;
	}



	.institution_description {
		font-size: 100%;
		clear:both;
		color: #999999;
	}

	.institution_logo {
		width: 100px;
		height: auto;
	}
	#institution_logo_desy {
		float: right; 
		padding-left: 20px; 	
	}
	#institution_logo_universum {
		float: right; 
		padding-left: 20px; 	
	}






	.ui-btn-text {
		line-height: 100%;
	}
	#map {
		width: 100%;
		height: 100%;
	}
	#page-map .ui-content {
		padding: 0px;
	}
	#page-home .thumb {
		width: 22%;
	}
	span.reg {
		position: relative;
		top: -0.5em;
		font-size: 80%;
	}



.question {
	color: #888888; 	
}
.answer {
	color: black; 	
}




#particlomatic_button_hide_info {

}

#particlomatic_result_bestMatch p {
	font-size: 100%;
}





.quiz-form-item {
	padding: 0px 0px;
	margin-bottom: 10px;
}
.quiz-form-item h2  {
	font-size: 120%;
	line-height: 1em; 
	margin: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.quiz-form-item-title {
	width: 100%; 
}
.quiz-form-item-title-left-td {
	width: 1%;
}
.quiz-form-item-title-middle-td {
	width: 1%;
	text-align: center;
}
.quiz-form-item-title-right-td {
	width: 1%;
	text-align: right;
}


.symbol_left {
	vertical-align: middle;
	float: left;
}
.symbol_right {
	vertical-align: middle;
	float: right;
}
#test_result_2d {
	width: 160px;
	background-color: white;
}

.resultBin {
	height: 20px;
	background-color: white;
	margin-bottom: 2px;
	text-shadow: none;
}
.resultBar {
	width: 15px;
	height: 30px;
	background-color: white;
	float: right;
	margin-left: 20px;
}

.quizResultTable tr {
	margin-bottom: 40px;
	border-bottom: 5px solid #EEEEEE;
}

.quizResultTable td.particleThumbnail {
	text-align: right; 
	font-size: 80%;
	line-height: 1em;
	padding: 0px;
	padding-right: 10px;
	width: 30px;
	vertical-align: middle;
	height: 50px;
}
.quizResultTable td.particleThumbnail img {
	width: 50px;	
}

.quizResultTable td.value {
	vertical-align: middle;
}




#particle_teaser_table img{
	width: 100%;
	height: auto;
}
#particle_teaser_table td {
	width: 25%;
}
#quizTeaser .quizResultTable {
	width: 100%; 	
}

#particlomatic_result_table .quizResultTable {
	width: 100%;
	margin-top: 20px;

}

#particlomatic_result_table div {
	float: left; 	
	width: 33%;

}


ol {
	list-style: decimal;
}

.rank1_img {
	float: right; 
	width: 40%;
	margin: 0px;	
}

#page_news h3 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 16px;
}
.newsDate {
	font-size: 80%;
	padding: 0px;
	margin: 0px;
	color: #666666;	
}

#privacy_promise {
	font-size: 80%;	
}
.dtml {
	display: none;
}



.navigation_description {
	font-family: 'SansCulottesRegular';
	font-size: 2em;
	position: absolute
}

#video_page_introduction {
	top: 150px;
	left: 50%;
}
#video_page_insight {
	bottom: 200px;
	left: 150px;
}
#video_page_outlook {
	bottom: 125px;
	right: 350px;
}






body .modal-dialog {
	width: 90% !important; /* desired relative width */
	left: 5%; /* (100%-width)/2 */
	/* place center */
	margin-left:auto;
	margin-right:auto; 
}

.video_teaser_table {
	width: 91%; 
	margin: auto;
}

.encylopedia_table {
}

.video_teaser_table td,
.encylopedia_table td {
	margin: 0px; 
	line-height: 0px;
	padding: 5px;
	width: 10%;
}
.video_teaser_table tr,
.encylopedia_table tr {
	margin: 0px;
}


.video_teaser_img, 
.encyclopedia_teaser_img {
	-webkit-box-shadow: 2px 2px 4px #666; 
}

.borderimage .quiz-form-item {
	
	/*	border: 1px solid lightgray;*/
	border-style: solid;
	border-width: 27px;
	-moz-border-image: url(background-paint-box.png) 27 repeat;
	-webkit-border-image: url(background-paint-box.png) 27 repeat;
	-o-border-image: url(background-paint-box.png) 27 repeat;
	border-image: url(background-paint-box.png) 27 27 27 27 fill repeat;	
}

.no-borderimage .quiz-form-item {
	padding: 27px;
	background-color: #E0E0E0;
}



#video_teaser_img_2,
#video_teaser_img_4,
#video_teaser_img_5,
#video_teaser_img_7,
#video_teaser_img_8 {
	-webkit-transform:rotate(-0.5deg);
}

#video_teaser_img_1,
#video_teaser_img_3,
#video_teaser_img_6 {
	-webkit-transform:rotate(+0.5deg);
}


#video_teaser_img_7 {
	-webkit-transform:rotate(1deg);

}

#page-content h2 {
    margin-top: 2em;
}
#page-content .h2intro {
    color: rgba(0,0,0,0.5); 
    display: block;
    font-size: 150%;
    line-height: 1em;
}
#page-content .h2intro:after
{
    content: '';
}



.myon_encyclopedia_teaser_img,
.tauon_encyclopedia_teaser_img,
.myon_neutrino_encyclopedia_teaser_img,
.charm_quark_encyclopedia_teaser_img,
.top_quark_encyclopedia_teaser_img,
.photon_encyclopedia_teaser_img,
.w_plus_encyclopedia_teaser_img,
.w_minus_encyclopedia_teaser_img,
.wimp_encyclopedia_teaser_img {
    -webkit-transform:rotate(-0.5deg);
}

.electron_encyclopedia_teaser_img,
.electron_neutrino_encyclopedia_teaser_img,
.tauon_neutrino_encyclopedia_teaser_img,
.down_quark_encyclopedia_teaser_img,
.top_quark_encyclopedia_teaser_img,
.bottom_quark_encyclopedia_teaser_img,
.z_null_encyclopedia_teaser_img,
.gluon_encyclopedia_teaser_img,
.graviton_encyclopedia_teaser_img,
.higgs_encyclopedia_teaser_img {
    -webkit-transform:rotate(1deg);
}
.up_quark_encyclopedia_teaser_img,
.strange_quark_encyclopedia_teaser_img,
.w_plus_encyclopedia_teaser_img  {
   -webkit-transform:rotate(-1deg);
}


.ui-body-c .ui-link:visited, .ui-body-c .ui-link:hover, .ui-body-c .ui-link:active,
.ui-body-c .ui-link {
	color: black;
}


.panel {
	border: none; 
	background: none; 
	box-shadow: none; 
	-webkit-box-shadow: none;
}
.panel-default>.panel-heading {
	border: none; 
}
.ui-body-c .ui-link {
	font-weight: normal;
	text-decoration: underline;
}
.panel-body,
.panel-heading {
	padding: 0;
}
.panel-heading {
	padding-bottom: 1em;
}

.home_icon {
	float: right;
	width: 20%;
	background-color: #FAFAFA;
	margin-left: 10px;
	margin-bottom: 10px;
}

#particlomatic_info_toggle {
	text-decoration: underline;
}
.particlomaticHelp {
	margin-top: 1em;
	display: none;
}


.website a {
	color: black;
	border-bottom: 1px dotted gray;
}
#page_home #sitemenu_home a,
#page_news #sitemenu_news a,
#page_particlomatic #sitemenu_particlomatic a {
	font-weight: bold; 
}

.nav-tabs a {
	text-decoration: none !important;
}

em {
	font-style:italic;
}


.ui-header {

}

#page-particlomatic .content {
	background-color: none;
	padding-top: -0px;
}

#page-particlomatic .content h1 {
	margin-bottom: 0.5em; 
	font-size: 400%;
}


#particlomatic_info .particle {
	width: 20%;
}

.ui-slider-handle {
	background: rgb(0,166,235);

	border: 1px solid rgb(0,166,235);

}
.ui-body-c .btn-info,
.ui-body-c .btn-success {
	color: #fff !important;
	text-decoration: none;
}

.ui-body-c .btn-info {
	background-color: rgb(0,166,235);
	border-color: rgb(0,166,235);
}

#particlomatic_result_top3 h2 {
	cursor: pointer;
}

.particlomatic_result_top3_img {
	float: right;
	width: 20%;
}
.particleDescription {
	font-size: 90%;
}



#page-content .encyclopedia_teaser_img,
#page-content .encyclopedia_teaser_img {
	width: 85px;
	margin-right: 20px;
}

#encyclopedia_index {
	height: 100px;
	overflow:scroll;
	overflow-y:hidden;
	white-space:nowrap;
	width: 99%; 
	margin-bottom: 30px;
}


#encyclopedia_stage h1 {
	font-size: 3em;
}
#encyclopedia_stage h2 {
	font-size: 1.5em;
}

a[href="#page-options"] {
	display: none !important; 
}

#page-videos.page {
	background: none; 
}

#page-videos .ui-content {
	padding: 0px;
}


#screensaver {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 2000px;
    height: 2000px;
    background-color: black;
    z-index: 1000;
    display: none;
}



.app .navbar {
	background-color: rgba(44, 62, 80, 0.95);
	margin: 0px;
	min-height: 50px;
	border: none;
}

.app .navbar ul {
	list-style: none;
	width: 100%;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.app .navbar ul li {
	display: inline-block; 
	width: 33%;
	text-align: center;
	min-height: 49px;
	
}
.app .navbar ul li.left {
	text-align: left;
}

.app .navbar ul li.right {
	text-align: right;
}

.app .navbar ul li a {
	display: inline-block; 
	width: 100%;
	padding: 15px 20px;
}

.app .navbar .language_selector a {
	display: inline;
}

input[type="range"] {
	width: 100%;
	margin: 20px 0px;
	padding: 10px 0px;
    -webkit-appearance: none;
    background-color: #DDDDDD;
    height:10px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #5bc0de;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    border-width: 0px;
}

.app .navbar ul li a {
	color: white;
}

.app .page {
	padding-top: 30px;
	padding-bottom: 50px;
}
.app #page-videos {
	padding: 0px;
	background-color: black;
	height: 768px;
	overflow: hidden;
}
.app .navbar-fixed-top ul {
	margin: 0px !important;
	min-height: 40px;
	height: 50px;
}
.app .navbar-fixed-top h1 {
	font-size: 100%;
	color: white;
	margin: 0;
	font-weight: normal;
}

.navbar-fixed-bottom {
	min-height: 49px;

}

.app .page {
	min-height: 640px;
}

.app .videocontroller h2 {
	font-size: 16px;
	line-height: 16px;
	margin: 0px;
	margin-bottom: 8px;
	font-weight: normal;
}
.app .videocontroller ul {
	width: 100%;
	margin: 0px auto;
	background-color: gray;
	border-bottom: white 5px solid;
}
.app .videocontroller p {
	font-size: 12px;
	line-height: 12px;
}
.app .videocontroller li {
	color: white; 
	width: percentage(1 / 4);
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	padding-top: 10px;
	background-color: rgba(44, 62, 80, 1);
	min-height: 80px;
	border-right: white 5px solid;
}
.app .videocontroller li.selected {
	background-color: rgba(44, 62, 80, 0.2);
}

.app .videocontroller li:last-child {
	border-right: none;
}
#videoplayer {
	width: 100%;
}
li[data-video-href="media/videos/video_4.mp4"] {
	display: none !important;
}
li[data-video-href="media/videos/video_6.mp4"] {
	display: none !important;
}
li[data-video-href="media/videos/video_7.mp4"] {
	display: none !important;
}
.app .page {
}